<div class="center-content">
  <mat-card class="example-card">
    <div class="alert alert-danger" *ngIf="menssagem">
      {{menssagem}}
    </div>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <mat-card-header>
      <mat-card-title>Login/Register</mat-card-title>
      <mat-card-subtitle>
        <img src="/../../assets/images/tema/money.png" width="20%" />
        <br>
        Web Financeiro
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- Toda a divi -->
      <mat-tab-group>
        <!-- tela de login -->
        <mat-tab label="Login">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" [(ngModel)]="pessoa.email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" [(ngModel)]="pessoa.senha">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-button color="primary" (click)="login()">Login</button>
        </mat-tab>

        <!-- tela de registrar -->
        <mat-tab label="Register">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" [(ngModel)]="pessoa.email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" [(ngModel)]="pessoa.senha">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" [(ngModel)]="verificarSenha">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-button color="primary" (click)="registrarLogin()">Register</button>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>

  </mat-card>
</div>
