<div class="container">
  <!-- <form> -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Nome</label>
        <input class="form-control" placeholder="Email" [(ngModel)]="pessoa.nome">
      </div>
      <div class="form-group col-md-5">
        <label>Email</label>
        <input class="form-control" placeholder="Email" [(ngModel)]="pessoa.email">
      </div>
      <div class="form-group col-md-3">
        <label>Senha</label>
        <input class="form-control" placeholder="Senha" [(ngModel)]="pessoa.senha">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label>CPF</label>
        <input class="form-control" placeholder="000.000.000-00" [(ngModel)]="pessoa.cpf">
      </div>

      <div class="form-group col-md-3">
        <label>Telefone</label>
        <input class="form-control" placeholder="(00)00000-0000" [(ngModel)]="pessoa.telefone">
      </div>
    </div>

    <div class="form-group">
      <label>Endereço</label>
      <input class="form-control" placeholder="Rua dos Bobos, nº 0" [(ngModel)]="pessoa.endereco">
    </div>

    <div class="form-group">
      <label>Observações</label>
      <input class="form-control" placeholder="Apartamento, hotel, casa, etc." [(ngModel)]="pessoa.observacoes">
    </div>

    <button class="btn btn-primary" (click)="cadastrar()">Salvar</button>

  <!-- </form> -->
</div>

